.bg-orange {
    background-color: rgb(252, 137, 44);
}

.iconos a {
    border: 1px solid white;
    padding: .6rem .7rem;
    border-radius: 50%;
    margin-right: .5rem;
}

@media(max-width:576px) {
    .iconos {
        padding-top: 1rem;
    }
}

.iconos a:last-of-type {
    margin: 0;
}

.iconos a:nth-child(1) {
    background-color: #40618e;
}

.iconos a:nth-child(2) {
    background-color: #00acee;
}

.iconos a:nth-child(3) {
    background-color: #ce4166;
}

.iconos a:nth-child(4) {
    background-color: #c4302b;
}

.iconos a svg {
    color: white;
}